.bubble_girl, .bubble_boy, .bubble {
        display: block;
		position: absolute;
		top: 0px;		
		width: 550px;
		z-index: 0; 
		}
.bubble_girl {left: 100px; top: -10px;}
.bubble_boy, .bubble {left: 450px; top: 250px;}

		.bubble-main { width: auto;}
			.bubble-top-left { width: 16px; height: 16px; background: url("/images/bubble/b-t-l.png") 0% 0% no-repeat; padding: 0px; margin: 0px; text-align: right;}
			.bubble-center-left { width: 16px; min-height: 100%; background: url("/images/bubble/b-c-l.png") 0% 0% repeat-y;}
			.bubble-bottom-left {width: 16px; height: 33px; background: url("/images/bubble/b-b-l.png") 0% 0% no-repeat;}
			
			.bubble-top-center { width: 16px; height: 16px; background: url("/images/bubble/b-t-c.png") 0% 0% repeat-x;}
			.bubble-center-center { margin: 0px; padding: 0px; width: 330px; min-height: 200px; height: 100%; background: #d8edf6;}
			.bubble-bottom-center {width: 16px; height: 33px; background: url("/images/bubble/b-b-c.png") 0% 0% repeat-x;}
			
			.bubble-top-right { width: 16px; height: 16px; background: url("/images/bubble/b-t-r.png") 0% 0% no-repeat;}
			.bubble-center-right { width: 16px; min-height: 100%; background: url("/images/bubble/b-c-r.png") 0% 0% repeat-y;}
			.bubble-bottom-right {width: 65px; height: 33px; background: url("/images/bubble/b-b-r.png") 0% 0% no-repeat;}
		._bubble-main { width: 90%;}
			._bubble-top-left { width: 16px; height: 16px; background: url("/images/bubble/bubble_left/b-t-l.png") 100% 0% no-repeat;}
			._bubble-center-left { width: 16px; min-height: 100%; background: url("/images/bubble/bubble_left/b-c-l.png") 100% 0% repeat-y;}
			._bubble-bottom-left {width: 65px; height: 33px; background: url("/images/bubble/bubble_left/b-b-l.png") 100% 0% no-repeat;}
			
			._bubble-top-center { width: 16px; height: 16px; background: url("/images/bubble/bubble_left/b-t-c.png") 0% 0% repeat-x;}
			._bubble-center-center { margin: 0px; padding: 0px; width: 400px; min-height: 200px; height: 100%; background: #d8edf6;}
			._bubble-bottom-center {width: 16px; height: 33px; background: url("/images/bubble/bubble_left/b-b-c.png") 0% 0% repeat-x;}
			
			._bubble-top-right { width: 16px; height: 16px; background: url("/images/bubble/bubble_left/b-t-r.png") 0% 0% no-repeat;}
			._bubble-center-right { width: 16px; min-height: 100%; background: url("/images/bubble/bubble_left/b-c-r.png") 0% 0% repeat-y;}
			._bubble-bottom-right {width: 16px; height: 33px; background: url("/images/bubble/bubble_left/b-b-r.png") 0% 0% no-repeat;}