.inf-l { background: url(/images/rmenu/inf_tl_c_l.png) no-repeat }
.inf-r { background: url(/images/rmenu/inf_tl_c_r.png) no-repeat }

.pb .tlc { background: url(/images/rmenu/r_c_tl.png); }
.pb .trc { background: url(/images/rmenu/r_c_tr.png); }
.pb .blc { background: url(/images/rmenu/r_c_bl.png); }
.pb .brc { background: url(/images/rmenu/r_c_br.png); }