.menu { margin-left: 0px;}
.separator { width: 95%;}
.mmChatForm { width: 100%; height: 70px; }
	.smiles {padding-left: 10px;}		
	.mmChatFormInput {width: 365px; margin: 10px 10px 0px 10px;}
	.mmChatFormButton {margin-right: 15px;}
