/* IE 7 Hacks */
.menu-h li {
    padding: 10px 19px;
}
.default-actions li {
    padding: 9px 4px;
}
/* action in wishlist ie 7-8 */
.on-action {
    top: -72px;
    width: 215px;
    height: 85px;
}
.on-action img {display: block; margin: -20px -5px 0 0px;}
.wish_description {padding-left: 10px}
.cart_description {padding-left: 90px; font-size: 14px; position: relative; top: -80px; text-align: left !important;}
.on-action-cart {top: -1px; height: 119px; }
.on-action-cart img {margin: 46px 50px 0 0;}
.cart_item {height: 80px;}

.wish_actions {left: 115px;}
	.add_cart {top: 45px;}
	.wish_delete {top: 0px;}
.zoomin {left: 20px;}
.zoomin_company {left: 65px;}

.company-menu-item {font-size: 18px; font-weight: 900; margin-top: 11px;}
.company-menu-item li {padding: 0 36px;}

ul.tabNavigation {
list-style: none;
margin: 6px 0 20px 0;
padding: 0;
}
 


